
<body>
  <app-navbar></app-navbar>

  <div class="features-container">
    <header>
      <h1>Features</h1>
    </header>
    <section class="features-list">
      <div class="feature-item">
        <h2>Grow and track your plants</h2>
        <ul>
          <li>Register your plantations and receive personalized care reminders.</li>
          <li>Track watering, fertilization, and harvest progress.</li>
          <li>View seasonal planting recommendations.</li>
        </ul>
      </div>

      <div class="feature-item">
        <h2>Collect unique pets</h2>
        <ul>
          <li>Unlock adorable pets based on the plants you cultivate.</li>
          <li>Showcase your favorite pets on your profile.</li>
        </ul>
      </div>

      <div class="feature-item">
        <h2>Sustainability insights and tips</h2>
        <ul>
          <li>Get personalized sustainability tips to improve your eco-friendly habits.</li>
          <li>Access tutorials on composting, sustainable farming and many more!</li>
          <li>View metrics on water saved and carbon footprint reduction.</li>
        </ul>
      </div>

      <div class="feature-item">
        <h2>Join communities and connect</h2>
        <ul>
          <li>Create or join communities of like-minded plant lovers.</li>
          <li>Share your plantations and pets in community chats.</li>
          <li>Challenge friends to friendly pet battles.</li>
        </ul>
      </div>

      <div class="feature-item">
        <h2>Customize Your Profile</h2>
        <ul>
          <li>Add a profile picture, description, and showcase your best plants and pets.</li>
          <li>Select up to 5 favorite pets and plantations to display on your profile.</li>
        </ul>
      </div>
    </section>
  </div>
</body>
