<div class="plantation-card" [class.editing]="isEditing" [routerLink]="!isEditing ? ['/plantation', plantation.plantationId] : null" (click) ="onPlantationSelected()" [matTooltip]="!isEditing ? 'Click to view full plantation details' : null">
  <div class="plantation-info">
    <div class="plantation-name">
      <h3 *ngIf="!isEditing" class="plantation-name">{{ plantation.plantationName }}</h3>
      <h3 *ngIf="isEditing" class="plantation-name">Plantation Name: </h3>
      <input *ngIf="isEditing"
             [(ngModel)]="newPlantationName"
             type="text"
             class="edit-input"
             (click)="$event.stopPropagation()"
             matTooltip="Edit plantation name"/>
    </div>
    <div class="location">
      <p *ngIf="!isEditing && this.plantation?.location">Location: {{ plantation.location.city}}, {{ plantation.location.region}}, {{ plantation.location.country}} </p>
      <p *ngIf="!isEditing && !this.plantation?.location">Location: Unknown</p>
      <p *ngIf="isEditing">Location: </p>
      <div *ngIf="isEditing" class="location-search" matTooltip="Search and select a location">
        <app-location-input
                            (locationSelected)="onLocationSelected($event)">
        </app-location-input>
      </div>
    </div>
    <p class="plantation-type">Plantation of Type: {{ plantation.plantTypeName }}</p>
    <p class="last-watered">Creation Date: {{ plantation.plantingDate | date }}</p>
    <p class="plantation-type">Number of Species: {{ plantation.plantationPlants.length || 0 }}</p>
    <p class="plantation-type">Number of Plants: {{ getTotalPlants() }}</p>
    <p class="plantation-type">Level: {{ plantation.level }}</p>
  </div>

  <div class="plantation-actions">
    <button *ngIf="!isEditing" class="edit-btn" (click)="enableEdit(); $event.stopPropagation()" matTooltip="Edit this plantation">✏️</button>
    <button *ngIf="isEditing" class="save-btn" (click)="saveEdit(); $event.stopPropagation()" matTooltip="Save changes">✔️</button>
    <button *ngIf="isEditing" class="cancel-btn" (click)="cancelEdit(); $event.stopPropagation()" matTooltip="Cancel editing">❌</button>
    <button *ngIf="!isEditing" class="delete-btn" (click)="remove(); $event.stopPropagation()" matTooltip="Delete this plantation">🗑️</button>
  </div>
</div>
