<main>
  <app-navbar></app-navbar>
  <div class="profile-container">
    <div class="profile-header">
      <h1 class="nickname" *ngIf="!isEditing; else editNickname">
        {{ userProfile.nickname || 'No nickname' }}
      </h1>
      <ng-template #editNickname>
        <input [(ngModel)]="userProfile.nickname" class="edit-input" placeholder="Enter your nickname">
      </ng-template>
      <div class="profile-actions">
        <button class="edit-profile-btn" (click)="toggleEdit()" matTooltip="{{ isEditing ? 'Save changes to your profile' : 'Edit your nickname, bio, or photo' }}">
          <i class="fas fa-edit"></i> {{ isEditing ? 'Save' : 'Edit Profile' }}
        </button>
      </div>
    </div>

    <div class="profile-info">
      <div class="profile-picture">
        <img [src]="userProfile.profile.profilePicture || 'assets/logo.png'" alt="Profile Picture">
        <button *ngIf="isEditing" class="upload-button" (click)="triggerFileUpload()" matTooltip="Upload a new profile picture">
          <i class="fas fa-camera"></i>
        </button>
        <input type="file" id="file-upload" style="display: none;" (change)="onFileSelected($event)">
      </div>

      <div class="bio">
        <p *ngIf="!isEditing; else editBio">
          {{ userProfile.profile.bio || 'No bio available.' }}
        </p>
        <ng-template #editBio>
          <textarea [(ngModel)]="userProfile.profile.bio" class="edit-input" placeholder="Enter your bio" maxlength="100"></textarea>
          <div class="bio-length-info">
            <span>{{ userProfile.profile.bio ? userProfile.profile.bio.length : 0 }}/100</span> characters
          </div>
        </ng-template>
      </div>
    </div>

    <div class="section">
      <h2>Favorite Pets</h2>
      <div class="scrollable-list">
        <app-pet-card *ngFor="let pet of favoritePets"
                      [pet]="pet">
        </app-pet-card>
      </div>
    </div>

    <div class="section">
      <h2>Highlighted Plantations</h2>
      <div class="scrollable-list">
        <app-plantation-card *ngFor="let plantation of highlightedPlantations"
                             [plantation]="plantation"
                             (updated)="loadHighlightedPlantations()"
                             (deleted)="loadHighlightedPlantations()">
        </app-plantation-card>
      </div>
    </div>
  </div>
</main>
