<body>
  <app-navbar></app-navbar>

  <div class="cards-container">
    <div class="card">
      <h2>Check on your pets</h2>
      <div class="card-content">
        <!--<div class="item" *ngFor="let pet of pets">{{ pet }}</div>-->
      </div>
    </div>

    <div class="card">
      <h2>Get back to your plantations</h2>
      <div class="card-content">
        <!--<div class="item" *ngFor="let plantation of plantations">{{ plantation }}</div>-->
      </div>
    </div>

    <div class="card">
      <h2>Search through communities</h2>
      <div class="card-content">
        <!--<div class="item" *ngFor="let community of communities">{{ community }}</div>-->
      </div>
    </div>
  </div>
</body>
