.header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 80%;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 300px;
  text-align: center;
}

  .card h3 {
    margin-bottom: 10px;
  }

.list {
  background-color: #e0ebaf;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

  .list:hover {
    background-color: #cde08d;
  }
