<div class="reset-password-container">
  <h2>Redefinir Senha</h2>
  <p>Digite a nova senha para sua conta.</p>

  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <label for="newPassword">Nova Senha</label>
    <input type="password" id="newPassword" formControlName="newPassword" required>

    <label for="confirmPassword">Confirmar Senha</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword" required>

    <button type="submit" [disabled]="resetForm.invalid">Redefinir Senha</button>
  </form>

  <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
