<!-- landing-page.component.html -->
<body>
  <app-navbar></app-navbar>

  <!-- Container Principal para o Conteúdo da landing page -->
  <div class="home-container">
    <section class="intro">
      <h2>Grow Plants, Earn Pets and Practice Sustainability</h2>
      <p>
        Plants R' Pets is an app that combines crop management with gamification,
        allowing you to grow plants, adopt sustainable practices,
        and earn unique virtual pets as rewards.
      </p>
    </section>
  </div>
</body>
