<!-- contact-us.component.html -->
<body>
  <app-navbar></app-navbar>
  <div class="contact-us-container">
    <header>
      <h1>Contact Us</h1>
    </header>

    <section class="contact-content">
      <div class="contact-info">
        <h2>For any questions, issues, or feedback, send us an email at:</h2>
        <p>
          plantsrpets&#64;outlook.com
        </p>
      </div>
      <div class="contact-info">
        <h2>Follow Us on Social Media</h2>
        <p>
          Stay updated on the latest features, sustainability tips, and events! <br />

          🌿 Instagram: &#64;plantsrpets <br />
          🐾 Twitter/X: &#64;plantsrpets <br />
          🌎 Facebook: Plants R' Pets <br />
        </p>
      </div>
    </section>
  </div>
</body>
