<app-navbar></app-navbar>
<main>
  <section class="plantation-creation">
    <h1>
      Plantations
    </h1>
    <h3>
      Here you can add, edit, remove and see various informations about your plantations 🌱!
      Below you can create a plantation and on the panel on the right you can click them to see more details!
      Try it out yourself 🍀!
    </h3>

    <button class="create-btn" (click)="openCreateDialog()">Create New Plantation</button>
  </section>

  <h2 class="no-plantations" *ngIf="plantations.length === 0">
    You don't have any plantations yet. Try creating one!
  </h2>

  <div class="plantations-list" *ngIf="plantations.length > 0">
    <section class="plantation-and-weather" *ngFor="let plantation of plantations">
      <app-plantation-card [plantation]="plantation"
                             (updated)="loadPlantations()"
                             (deleted)="loadPlantations()">
      </app-plantation-card>
    </section>
  </div>
</main>
