<div class="wrapper">
  <div class="logo-container">
    <a routerLink="/" class="logo-link">
      <img src="assets/logo.png" alt="App Logo" class="logo">
    </a>
  </div>

  <div class="verification-wrapper">
    <div class="verification-card">
      <h2>Verification Email Sent 📩</h2>
      <p>We’ve sent a verification link to your email address. Please check your inbox and spam and click the link to confirm your registration.</p>
      <p class="subtext">You may close this page after confirming your email.</p>
    </div>
  </div>

</div>
