<app-navbar></app-navbar>

<div class="collection-container">
  <h1>My Pet Collection</h1>
  <h3>Here you can favorite and admire the pets you have collected 🍓😎! Clicking on a pet will show you more information about it 🍀!</h3>

  <div *ngIf="loading" class="loading">
    <p>Loading your collection...</p>
  </div>

  <div *ngIf="error" class="error-message">
    <p>{{ error }}</p>
  </div>

  <article *ngIf="!loading && !error" class="pet-container">
    <app-pet-card *ngFor="let pet of pets"
                    [pet]="pet">
    </app-pet-card>
  </article>

  <div *ngIf="!loading && pets.length === 0" class="empty-collection">
    <p>You don't have any pets in your collection yet!</p>
  </div>
</div>
