<div class="forgot-password-container">
  <h2>Esqueceu a Senha?</h2>
  <p>Insira seu email para receber um link de redefinição de senha.</p>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" required>

    <button type="submit" [disabled]="forgotPasswordForm.invalid">Enviar Link</button>
  </form>

  <p class="success-message" *ngIf="message">{{ message }}</p>
  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
