header {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: center !important;
    align-items: center;
    gap: 20px;
}

.logo img {
  height: 70px;
  border-radius: 50%;
  object-fit: contain;
  width: 80px;
  height: 80px;
  object-position: center 0%;
  margin-top: 10px;
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #388E3B;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #1B5E1F;
}

  nav ul li {
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
    color: #E8F5E9;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
  }

    nav ul li:hover {
      color: #ffeb3b;
    }

    nav ul li a.active {
      color: #ffeb3b;
      font-weight: bold;
      position: relative;
      background-color: #237D31;
      border-radius: 8px;
      padding: 10px;
    }

      nav ul li a.active::after {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background: linear-gradient(to right, #ffeb3b, #ff9800);
        position: absolute;
        bottom: -7px;
        left: 0;
        border-radius: 2px;
      }

.mock-button {
  text-decoration: none;
  color: inherit;
}

.user-bubble {
  display: flex;
  flex-direction: row;
  align-items: center;
}
