@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.mat-typography {
  background: linear-gradient(180deg, #E8F5E9);
  background-attachment: fixed;
}

html * {
  font-family: 'Inter', sans-serif;
}
